<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax页面</title>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
        $(function () {
            // 绑定btnAjax的click事件
            $('#btnAjax').click(function () {
                $.ajax({
                    'url': '/ajax_handle',
                    'datatype': 'json',
                }).success(function (data) {
                    //ajax事件处理
                    if (data.res == 1){
                        $('#message').show().html('提示信息')
                    }
                })
            })
        })
    </script>
    <style>
        #message {
            display: none;
            color: aqua;
        }
    </style>
</head>
<body>
<input type="button" id="btnAjax" value="ajax请求">
</body>
</html>